
{% extends "layout.html.twig" %}

{% block content %}
	<table class="table table-striped">
		<thead>
			<tr>
				
				<th>Mission</th>
				<th>Note</th>
				<th>Date début</th>
				<th>Date Fin</th>
			</tr>
		</thead>
		<tbody>
			{% for stage in listeStages %}
				<tr>
					<td>{{ stage.mission }}</td>
					<td>{{ stage.note }}</td>
					<td>{{ stage.dateDebut }}</td>
					<td>{{ stage.dateFin }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endblock %}
