{# src/webStudent/EtudiantBundle/Resources/Etudiant/index.html.twig #}
<!DOCTYPE html>
<html>
    <head>
	<title>Bienvenue sur votre 3eme page créée avec Symfony !</title>
	</head>
	<body>
	<hl>Salut les stage</hl>
	
	<p>
	Félicitation, vous avez réussi à créer une première page. Vous avez compris?!?
	</p>
	</body>
</html>