{% extends "layout.html.twig" %}

{% block content %}
<br/>
	Bienvenue sur l'application de gestion de stages ici vous pourrez:
		<ul>
		<li> consulter la liste des stages</li>
		<li> consulter la liste des étudiants</li>
		<li> consulter la liste des entreprises</li>
		</ul>
	{% endblock %}
