{# src/webStudent/EtudiantBundle/Resources/Etudiant/aurevoir.html.twig #}
<!DOCTYPE html>
<html>
    <head>
	<title>Bienvenue sur votre deuxieme page créée avec Symfony !</title>
	</head>
	<body>
	<hl>Au revoir tout le monde</hl>
	
	<p>
	Félicitation, vous avez réussi à créer une deuxieme page. Vous avez compris?!?
	</p>
	</body>
</html>