{# src/webStudent/EtudiantBundle/Resources/Etudiant/index.html.twig #}
<!DOCTYPE html>
<html>
    <head>
	<title>Bienvenue</title>
	<h1>Bienvenue, veuillez selectionner ce que vous voulez faire:</h1>
	<table border='0'>
		<tr>
			<td><a href="{{ path('Etudiant_ConsulterE') }}"> Consulter tous les étudiants</td>
		</tr>
	</table>
</html>